<!-- content layed our vertically (angular flex layout) -->
<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>
        <div>
            <h3>Menu</h3>
            <hr />
        </div>
    </div>

    <div fxFlex *ngIf="dishes">
        <div [hidden]="dishes || errMess">
            <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
            <mat-grid-list cols="2" rowHeight="200px"> 
                <!-- the dish that's passed in the event click is the dish of the loop -->
                <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
                    <img height="200px" src="{{ getBaseUrl() + dish.image }}" alt={{dish.name}}>
                    <mat-grid-tile-footer>
                        <!-- Angular Uppercase pipe, turns the names uppercase -->
                        <h1 matLine>{{dish.name | uppercase}}</h1>
                    </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div fxFlex *ngIf="errMess">
            <h2>Error</h2>
        </div>
        <h4>{{ errMess }}</h4>
    </div>
</div>